.Account-Settings-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

@media only screen and (max-width: 450px) {
    .Account-Settings-Container {
        align-items: inherit;
    }
  }

.Account-Settings>button {
    margin-top: 1rem;
}