.Home {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  .Home {
    flex-direction: column-reverse;
  }

  .rbc-toolbar {  /* Modify react big calendar styling */
    flex-direction: column;
  }
}

header {
  position: static;
}
